.Photos {
  margin: 10px;
  /* height: 200px; */
  width: 15rem;
}
.Photos__content {
  margin-left: 1rem;
  width: 250px;
  height: 200px;
  background-color: aliceblue;
}
.team__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
