.mobile {
  display: none;
}
.social__box {
  height: 100vh;
  background: linear-gradient(to right, #000000 50%, #ffffff 50%);
}
.social__content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.social__content > img {
  padding-left: 9rem;
  height: 250px;
  width: 400px;
}
.social__tabs {
  height: 80px;
  margin-top: -80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.social__tabs > a {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
@media only screen and (max-width: 1000px) {
  .social__tabs > a {
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width: 720px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
