.mobile {
  display: none;
}
.services__box {
  height: 100vh;
  background-color: black;
  color: white;
}
.services__heading > h1 {
  margin-left: 4rem;
  margin-top: 2rem;
}
.services__content {
  display: flex;
}
.left {
  margin: 2rem;
  width: 40%;
}
.left > div {
  margin-left: 2rem;
  margin-top: 4rem;
  cursor: pointer;
}
.right {
  margin: 2rem;
  width: 60%;
}
.right > p,
li {
  font-weight: bold;
  margin-left: 2rem;
  margin-top: 2rem;
}
/* changing color of ul */
li::before {
  content: "• ";
  color: white;
}
@media only screen and (max-width: 720px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
}
