@media only screen and (max-width: 720px) {
  .s_brand {
    color: white;
    margin-left: 2rem;
    margin-top: 3rem;
    font-size: 1rem;
  }
  .cross {
    margin-top: 0.5rem;
  }

  .brand__box {
    height: 100vh;
    overflow-y: scroll;
  }
}
