* {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  overflow-y: hidden;
}
body {
  background-color: black;
}
.tabs {
  height: 80px;
  margin-top: -80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.tabs > a {
  font-size: 2.5rem;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
@media only screen and (max-width: 1000px) {
  .tabs > a {
    font-size: 1.5rem !important;
  }
}
